<h2>Products</h2>

<div *ngFor="let product of products">
  <h3>
    <!-- property binding -->
    <a 
    [title]="product.productName + ' details'"
    [routerLink]="['/products',product.productId]"
    >
      <!-- string interpolation (data binding) -->
      {{ product.productName }}
    </a>
  </h3>
  <!-- structural directive -->
  <p *ngIf="product.description">Description: {{ product.description }}</p>
  <!-- event binding -->
  <button type="button" (click)="share()">Share</button>
  &nbsp;
  <div >
    <app-product-alerts [productInside]="product"
    (notify)="onNotify()"></app-product-alerts>
  </div>
  &nbsp;
  <!-- <button type="button" (click)="buy()">Buy</button> -->
</div>
